.glow-text {
    font-size: 2rem;
    color: #ffffff;
    text-shadow: 0 0 10px #ffcc00, 0 0 20px #ffcc00, 0 0 30px #ffcc00;
  }
  
  .glow-button {
    background: #01bf71;
    border: none;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0 0 10px #ffcc00;
    transition: box-shadow 0.3s ease;
  }
  
  .glow-button:hover {
    box-shadow: 0 0 20px #ffcc00;
  }
  